# Supabase — app.supabase.com → Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://dpzziracsfmogdibpiww.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_mX8dtDScQ-ybncWKQmRpoA_8QwwAJvQ
SUPABASE_SERVICE_ROLE_KEY=cole_sua_service_role_key_aqui

# Autentique — painel.autentique.com.br → Perfil → API
AUTENTIQUE_API_TOKEN=c59b99f10d3d6a875f6e567e2c901bbd03335a9316a044ce76d8dc492dc86ac0
AUTENTIQUE_SANDBOX=true
